.img{
   width: 100%;
   z-index: -1;
   height: 200px;
}
.Ques{
    font-size: 30px;
}
.para{
    font-size: 20px;
    position: absolute;
    top: 100px; left: 150px;
    text-align: center;
    color: white;
}

.button{
    position: absolute;
    top: 150px; 
    left: 700px;
    color: white;
    background-color: grey;
    border-radius: 4px;
}
.header{
    background-color: aqua;
    width: 100%;
    height: 200px;
}
.navbar{
    float: right;
    margin: 10px ;
}
.img-1{
    z-index: 1;
    position: absolute;
    bottom: 250px;
    left: 50px;
}

.box-container{
    display: grid;
    grid-template-columns: auto auto auto;
    /* width: 100px; */
   margin: 20px;
   
}

.box-item{
   background-color: red;
   width: 150px;
   height: 150px;
}
@media screen and (max-width: 768px) {
    .box-container{
        display: flex;
        flex-direction: column;
        
    }
    .box-item{
        width: 100%;
        margin: 15px;
    }
    
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }